
.md-typeset h1, h2, h3, h4{
	color:#aecc54 !important;
	font-weight: 500 !important;

}

a,
.md-typeset a,
[data-md-color-primary=grey] .md-typeset a {
    color: #338caf;
}

a:focus,
a:hover,
.md-nav__link:focus,
.md-nav__link:hover,
[data-md-color-primary=grey] .md-typeset a:focus,
[data-md-color-primary=grey] .md-typeset a:hover{
    color: #4c8bac;
}

.md-header{
	background-color: #4c8bac;
}

img {
    border: 1px solid #eee;
    margin: .5em;
}

img.icon,
nav img {
    border: none;
    margin: 0;
}

.md-flex{
	background-color: #4c8bac;
}

.md-footer-nav{
	background-color: #4c8bac;
}

.md-footer-nav__direction{
	font-size: 2rem;
	background-color: #aecb54;
}
