a,
.md-typeset a,
[data-md-color-primary=grey] .md-typeset a {
    color: #338caf;
}

a:focus,
a:hover,
.md-nav__link:focus,
.md-nav__link:hover,
[data-md-color-primary=black] .md-typeset a:focus,
[data-md-color-primary=grey] .md-typeset a:hover{
    color: #a6ce39;
}

img {
    border: 1px solid #eee;
    margin: .5em;
}

img.icon,
nav img {
    border: none;
    margin: 0;
}
